ul {
			  list-style-type: none;
			}
			
			li {
			  display: inline-block;
			}
			
			input[type="checkbox"][id^="cb"] {
			  display: none;
			}
			
			label {
			  padding: 10px;
			  display: block;
			  position: relative;
			  margin: 10px;
			  cursor: pointer;
			}
			
			label:before {
			  background-color: white;
			  color: white;
			  content: " ";
			  display: block;
			  border-radius: 50%;
			
			  position: absolute;
			  top: 3px;
			  left: 6px;
			  width: 30px;
			  height: 30px;
			  text-align: center;
			  line-height: 32px;
			  transition-duration: 0.4s;
			  transform: scale(0);
			}
			
			label img {
			  height: 400px;
			  width: 240px;
			  transition-duration: 0.2s;
			  transform-origin: 50% 50%;
			}
			
			:checked + label {
			  border-color: #fff;
			  background-color: #e6e6e6;
			  transition-duration: .5s;
			}
			
			:checked + label:before {
			  content: "✓";
			  background-color: #0099ff;
			  transform: scale(1);
			}
			
			:checked + label img {
			  transform: scale(1.04);
			  box-shadow: 0 0 5px #333;
			  z-index: -1;
			}

			#snackbar {
			  visibility: hidden;
			  min-width: 250px;
			  margin-left: -125px;
			  color: #fff;
			  text-align: center;
			  border-radius: 2px;
			  padding: 16px;
			  position: fixed;
			  z-index: 1;
			  left: 50%;
			  bottom: 30px;
			  font-size: 17px;
			}

			#snackbar.show {
			  visibility: visible;
			  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.8s;
			  animation: fadein 0.5s, fadeout 0.5s 4.8s;
			}

			@-webkit-keyframes fadein {
			  from {bottom: 0; opacity: 0;} 
			  to {bottom: 30px; opacity: 1;}
			}

			@keyframes fadein {
			  from {bottom: 0; opacity: 0;}
			  to {bottom: 30px; opacity: 1;}
			}

			@-webkit-keyframes fadeout {
			  from {bottom: 30px; opacity: 1;} 
			  to {bottom: 0; opacity: 0;}
			}

			@keyframes fadeout {
			  from {bottom: 30px; opacity: 1;}
			  to {bottom: 0; opacity: 0;}
			}
